<h1>StaticPages#home</h1>
<p>This is home page.</p>
<p>
	If yesterday is tomorrow, today is Friday.
	If yesterday is Thursday, today is Friday. Thursday is tomorrow, today is Wednesday.
	If Staurday is tomorrow, today is Friday. Saturday is yesterday, today is Sunday.
</p>